@use 'variables' as v;
@use 'mixins' as m;

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,*:before, *:after {
    box-sizing: inherit;
}

.contenedor {
    width: 90%;
    max-width: 120rem;
    margin: 0 auto;
}

body {
    font-family: v.$fuente_principal;
    font-size: 1.6rem;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}
