@use 'src/scss/base/variables' as v;

h1, h2, h3 {
    margin: 0 0 2rem 0;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 3.2rem;
    text-align: center;
    text-transform: uppercase;
}

p {
    color: v.$negro;
    font-size: 1.6rem;
    line-height: 2;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    list-style: none;
}